div{
    text-align:center;
}

#navLogo{
    font-size:110%;
    margin-top: 0.75%;
    margin-bottom: -0.75%;
}


.nav-item {
    margin-right:1.5%;
    margin-left:1.5%;
    display:inline-block;
    width:5vw;
}

.flex-column {
    background-color: purple;
    position: fixed;
}

.nav-item {
text-decoration: none;
 }   

 #demo.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}