div{
    text-align:center;
}

#navLogo{
    font-size:110%;
    margin-top: 0.75%;
    margin-bottom: -0.75%;
}


.nav-item {
    margin-right:1.5%;
    margin-left:1.5%;
    display:inline-block;
    width:5vw;
}

.col-sm-1{
    background-color: lightcoral;
    height: 100vh;
}
.nav-item {
text-decoration: none;
 }   

 #demo.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}



    .collapse {
        height: auto;
        width: auto;
        transition: 0.35s ease;
      }

      
      
      .collapse.height {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.35s ease;
        -moz-transition: height 0.35s ease;
        -o-transition: height 0.35s ease;
        transition: height 0.35s ease;
      }
      
      .collapse.width {
        position: relative;
        width: 0;
        overflow: hidden;
        -webkit-transition: width 0.35s ease;
        -moz-transition: width 0.35s ease;
        -o-transition: width 0.35s ease;
        transition: width 0.35s ease;
      }
      
      .collapse.in.width {
        width: auto;
      }

      .collapseLink{
          margin-right: 10px;
          margin-left:10px;
      }

      .app-title {
        float: left;
      }
      
      .app-title a {
        text-decoration: none;
        line-height: 64px;
        font-size: 21px;
        display: inline-block;
      }
      
      .app-title a:hover {
        text-decoration: none;
      }

      
      .app-menu > li {
        padding: 0 20px;
      }
    
      .app-menu > li > a {
        padding: 0 20px;
        /* margin: 0 -20px; */
      }
    
      .app-menu > li > a > i {
        margin-right: 0 !important;
      }
    
      .profile-dropdown-menu {
        max-width: 180px;
      }
    
      .profile-menu .user-full-name-info {
        font-size: 17px;
        font-weight: 600;
        color: rgba(0,0,0,0.85);
      }
      
      .profile-menu .username-info {
        font-size: 14px;
        color: rgba(0,0,0,0.65);
      }
    
      .dropdown-item {
        padding: 10px 12px;
      }
    
      .dropdown-item a {
        padding: 10px 12px;
        margin: -10px -12px;
      }
      
      .nav-icon {
        font-size: 20px;
      }
    
      .poll-icon {
        margin-top: -4px;
      }
    
    @media (max-width: 768px) {
      .app-title a {
        font-size: 20px;
      }
    
      .app-menu > li {
        padding: 0 15px;
      }
    
      .app-menu > li > a {
        padding: 0 15px;
        margin: 0 -15px;
      }
    } 

  .menuItem{
    display: inline-block;
  }

  .bootDrop {
    text-align: center;
  }

  .profile-menu{
    float: right;
  }


  .app-menu {
    float: right;
    margin-right: 1%;
    position: absolute;
    margin-left: 80%;
    /* border: 2px solid red; */
  }

  .dropdown-menu {
    float: left;
  }
